
.publication{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-around;
}
.publication--username{
    font-family: "Raleway";
    color: #3e8dc2;
    font-size: clamp(0.5em, 10vw, 1.5em);
}
.comment{
    display: flex;
    flex-direction: column;
}
.publication--comments--username{
    font-family: "Caveat";
    color: #2ECC71;
    font-size: clamp(0.5em, 10vw, 1.5em);
}
.publications--comments{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

