@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  font-weight: 400;
  /* outline: 1px red solid; */
}
.background{
    background-color: var(--background-color);
    height: 100vh;
}

.hero--header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.hero--logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  border-bottom: 2px solid black;
}
.hero--logo--font{
  padding-top: 1.8em;
  padding-right: 0.5em;
  font-family: "Raleway";
  font-weight: 400;

}


.cardsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.firstCard {
    position: relative;
    width: 70%;
    /* padding: 1em 1em 1em 1.5em; */
    padding: 1em 1em;
    gap: 1em;
    background-color: var(--primary-background-color);
    border-radius: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  z-index: 200;
  box-shadow: 0px 2px 4.7px rgba(0, 0, 0, 0.24);
}

.alternativefirstCard{
  gap: 1em;
  transition: 13s all;
    /* width: 70%; */
    /* padding: 0 1em; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secondCard {
    background-color: var(--secondary-background-color);
    box-shadow: 0px 2px 4.7px rgba(0, 0, 0, 0.24);
    position: absolute;
    /* top: 10em; */
    padding: 6em 1em 1em 1em;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 30px;
    z-index: 100;
  }
  .secondCardPadding{
    padding: 9em 1em 0em 1em;
  }
  
  .formCreateAcc{
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  
  .formLogIn{
    width: 90%;
    gap: 0.2em;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.inputsLogin {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
}
.inputsLogin:focus{
  border: none;
  input-security: none;
}

a {
  text-decoration: none;
  color: black;
}

