

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    bottom:0;
    background-color: var(--primary-background-color);
    border-top: 2px solid black;
    padding: 0.5em 0 0.5em 0;
    min-width: 100%;
    max-width: 100%;
}

.nav--home{
    display: flex;
    max-width: 30px;
}
.nav--publication{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10px;
    width: 30px;
    font-size: 30px;
}
.nav--lupa{
    display: flex;
    max-width: 30px;
}

.nav--user{
    display: flex;
    border-radius: 30px;
    background-color: black;
    min-width: 30px;
    max-width: 30px;
}